<div class="row">
    <div class="col-md-3 col-sm-2">
    </div>
    <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form novalidate name="loginForm">
                    <div class="form-group" show-errors>
                        <label for="username">Email</label>
                        <input type="email" form-enter class="form-control" name="username" ng-model="loginRequest.username" auto-focus required
                        id="username" placeholder="Email">
                        <error-message message="email is required." show-error="loginForm.username.$error.required">
                        </error-message>
                        <error-message message="Invalid email." show-error="loginForm.username.$error.email">
                        </error-message>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="password">Password</label>
                        <input type="password" form-enter ng-minlength="6" ng-maxlength="20" name="password" ng-model="loginRequest.password" class="form-control"
                        required id="password" placeholder="Password">
                        <error-message message="Password is required." show-error="loginForm.password.$error.required">
                        </error-message>
                        <error-message message="Password must be minimum 6 characters." show-error="loginForm.password.$error.minlength">
                        </error-message>
                        <error-message message="Password cannot exceed 20 characters." show-error="loginForm.password.$error.maxlength">
                        </error-message>
                    </div>
                    <div class="form-group has-error" ng-show="errors.length > 0">
                        <error-message ng-repeat="error in errors" message="{{error}}" show-error="true">
                        </error-message>
                    </div>
                    <button type="submit" ng-click="login()" ng-disabled="loginForm.$invalid || submittingForm" class="button button-full button-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-2">
    </div>
</div>
